<% include partials/header %>
    <h1>The show template</h1>
    <p>
        <%= found.name %>
    </p>


    <img src="<%= found.image %>">
    <p>
        <%= found.description %>
    </p>

    <% found.comments.forEach(function(comment){ %>
        <p>
            <strong><%= comment.author %></strong>
        </p>
        ---
        <p>
            <%= comment.text %>
        </p>
        <% }); %>
            <% include partials/footer %>
